.App{
  text-align: center;
 }
 .navbar{
   margin: 20px;
 }
 h1{
   font-family: font-1;
 }
 .link {
  color: #f1f1f1;
  font-family: font-1;
  border: 1px solid;
  border-radius: 20px;
  padding: 3px 8px;
  margin: 2px;
  width: 2rem;
  
}
@font-face {
  font-family: "font-1";
  src: url(./assets/Vanderick.ttf);
}

.btn{
  cursor: pointer;
  border: 1px solid;
  border-radius: 2rem;
  width: 11rem;
  transition:  0.2s ease-in-out;
}

.btn:hover{
  border-radius: 20px;
  background-color: rgb(208, 186, 229);

}


.show-movies{
  display: flex;
}
.card{
  border-radius: 2rem;
  
  transition: transform 0.2s ease;
  margin: 4rem 0.4rem;
  box-shadow: 0 0  5px white;
}
.card:hover{
  transform: scale(1.1);
}